<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <!--新增套餐基本信息-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into sky_take_out.setmeal
        (category_id, name, price, image, description, status, create_time, update_time, create_user, update_user)
        values
        (#{categoryId}, #{name}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!--新增套餐所包含的菜品信息-->
    <insert id="saveSetmealDish">
        insert into sky_take_out.setmeal_dish
        (setmeal_id, dish_id, name, price, copies)
        values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealId}, #{setmealDish.dishId}, #{setmealDish.name}, #{setmealDish.price}, #{setmealDish.copies})
        </foreach>
    </insert>

    <!--更新套餐基本信息(不含套餐所包含的菜品)-->
    <update id="update">
        update sky_take_out.setmeal
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = #{updateTime},
            update_user = #{updateUser},
        </set>
        <where>
            and id = #{id}
        </where>
    </update>

    <!--批量删除套餐基本信息-->
    <delete id="delete">
        delete from sky_take_out.setmeal
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>

    <!--删除套餐相关菜品信息-->
    <delete id="deleteSetmealDish">
        delete from sky_take_out.setmeal_dish
        <where>
            setmeal_id in
            <foreach collection="setmealIds" item="setmealId" open="(" close=")" separator=",">
                #{setmealId}
            </foreach>
        </where>
    </delete>

    <!--套餐分页查询(不含菜品信息)-->
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select s.id, s.category_id, s.name, s.price, s.image, s.description, s.status, s.update_time, c.name as category_name
        from sky_take_out.setmeal as s
        join sky_take_out.category as c on s.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and s.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
        order by s.category_id, s.id
    </select>

    <!--根据id查询套餐基本信息-->
    <select id="queryById" resultType="com.sky.vo.SetmealVO">
        select s.id, s.category_id, s.name, s.price, s.image, s.description, s.status, s.update_time, c.name as category_name
        from sky_take_out.setmeal as s
        join sky_take_out.category as c on s.category_id = c.id
        <where>
            and s.id = #{id}
        </where>
        order by s.category_id, s.id
    </select>

    <!--根据套餐id查询套餐所包含的菜品-->
    <select id="querySetmealDish" resultType="com.sky.entity.SetmealDish">
        select * from sky_take_out.setmeal_dish
        <where>
            and setmeal_id = #{setmealId}
        </where>
    </select>
</mapper>